/* Basic styles for the shop page */
.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.shop .container-body {
  /* width: 80%; */
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .shop .container-body {
    max-width: 992px; /* Medium screens */
  }
}

@media (max-width: 992px) {
  .shop .container-body {
    max-width: 768px; /* Small screens */
  }
}

@media (max-width: 768px) {
  .container-body {
    max-width: 576px; /* Extra small screens */
  }
}

@media (max-width: 576px) {
  .container-body {
    padding: 0 10px; /* Less padding on very small screens */
  }
}




.shop-page-content {
  padding: 20px;
  /* width: fit-content; */
  max-width: 1200px;
  margin: 0 auto;
}

.head-shop {
  font-size: 2em;
  margin: 20px;
}

.head-shop .info {
  font-size: 1rem;
  text-align: left;
}

.info {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;

}

.search-filter input {
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
  font-family: "roboto-light";
  font-weight: bolder;

}

.search-filter select {
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  font-family: "roboto-light";
  font-weight: bolder;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  justify-content: space-between;
  /* justify-content: center; */
}
.shop .card {
  width: 350px;
}



@media screen and (max-width: 768px) {
  .products-grid {
    justify-content: center;
    flex-wrap: wrap;
  }
 }

@media screen and (max-width: 768px) {
  .search-filter {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }


  
}
.shop Footer {
  width: 100%;
}