:root {
  --bck-ground: #d4d4d4;
  --font-base: clamp(0.9rem, 2.5vw, 1.2rem); /* General body font size */
  --font-heading: clamp(1.8rem, 5vw, 3rem); /* Heading font size */
  --font-subheading: clamp(1.5rem, 4vw, 2.5rem); /* Subheading font size */
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: auto;
  background-color: var(--bck-ground);
}

.bckground {
  background-image: url('../../assets/media/pexels-michal-packo-663414463-20201303.webp');
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 100px 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .photo-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .photo-header h1 {
  font-size: var(--font-heading);
  font-weight: 700;
  margin: 10px 0;
  color: white;
}

.about .photo-header p {
  margin: 20px auto;
  color: white;
  font-size: var(--font-base);
  font-weight: 400;
  line-height: clamp(1.5rem, 3vw, 2rem);
  width: clamp(70%, 90%, 100%);
  text-align: center;
}

.about .text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
  margin: 30px 5% 0;
  padding: 10px; /* Adjusted */
  text-align: left;
}

.sub-heading {
  font-size: var(--font-subheading);
  font-weight: 300;
  margin: 35px 0 30px 0;
  text-transform: uppercase;
}

.about .text p,
.par-default {
  width: 100%;
  font-size: var(--font-base);
  font-family: sans-serif;
  line-height: clamp(2rem, 2.5vw, 1.8rem);
  margin-left: 0; /* Adjusted */
  padding: 0 20px;
}

#ceo-signature {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px 0;
  align-self: flex-end;
}

.section-holder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  margin: 50px 0;
  padding: 50px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.section-holder .text-section {
  padding: 20px; /* Adjusted */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  /* gap: 5%; */
}

.section-holder .text-section h2 {
  font-size: var(--font-heading);
  font-weight: 500;
  margin: 0 0 25px;
}

.section-holder .text-section p {
  font-size: clamp(1rem, 1.4vw, 1.2rem);
  line-height: clamp(1.5rem, 2vw, 2rem);
  font-family: 'roboto-light';
  font-weight: 600;
  padding-bottom: 20px;
}

.section-holder .image-section {
  width: 45%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-holder .image-section img {
  width: 100%;
}

.partners {
  font-size: var(--font-base);
  margin-bottom: 50px;
  padding: 50px; /* Adjusted */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.partners-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}

.partners-logos img {
  width: clamp(60px, 10vw, 100px);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .bckground {
    padding: 15px; /* Adjusted */
  }

  .sub-heading {
    text-align: center;
    
  }

  .about .photo-header {
    padding: 10px; /* Adjusted */
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(88, 144, 162, 0.21);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    font-weight: 600;
  }

  .about .text {
    align-items: center;
    padding: 15px; /* Adjusted */
  }

  .about .text p,
  .par-default {
    margin: 10px; /* Adjusted */
  }

  .section-holder {
    flex-direction: column;
    align-items: center;
    padding: 15px; /* Adjusted */
    width: 100%; /* Adjusted */
  }

  .section-holder .text-section {
    width: 100%; /* Adjusted */
    padding: 15px; /* Adjusted */
    align-items: center;
    text-align: center;
  }

  .section-holder .text-section p {
    text-align: center;
  }

  .section-holder .image-section {
    width: 100%; /* Adjusted */
    padding: 10px; /* Adjusted */
  }

  .partners {
    padding: 15px; /* Adjusted */
  }

  .partners-logos {
    gap: 20px; /* Adjusted */
  }
}
