:root {
  --primary-color: #007bff; /* Define primary color */
}

.best-sellers {
  border-bottom: 1px solid;
}
.card * {
  font-family: "roboto-light";
  font-weight: 600;
}

.best-sellers .header {
  font-size: 3rem;
  font-family: 'roboto-light';
  letter-spacing: 5px;
  margin: 50px 0 10px;
}

.info {
  font-family: 'roboto-light';
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.card-holder {
  margin: 20px auto 100px;
  width: 80%;
  padding: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  min-height: 350px;
  width: clamp(200px , 350px, 400px);
  margin: 15px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s linear;
  padding: 0 10px;
}



/* .card:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */

.card::before,
.card::after,
.card .product-info::before,
.card .product-info::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #000;
  opacity: 0;
  transition: all 0.1s linear;
}

.card::before {
  top: -6px;
  left: -6px;
  border-bottom: none;
  border-right: none;
}

.card::after {
  bottom: -6px;
  right: -6px;
  border-top: none;
  border-left: none;
}

.card .product-info::before {
  top: -6px;
  right: -6px;
  border-bottom: none;
  border-left: none;
}

.card .product-info::after {
  bottom: -6px;
  left: -6px;
  border-top: none;
  border-right: none;
}

.card:hover::before,
.card:hover::after,
.card:hover .product-info::before,
.card:hover .product-info::after {
  opacity: 1;
}

.card .photo {
  width: 100%;
  position: relative;
  display: flex;
}

.product-photo {
  width: 100%;
  object-fit: cover;
  background-size: 100%;
  overflow: hidden;
}
/* 
.card .photo::after {
  content: '';
  background-color: var(--primary-color);
  opacity: 0.5;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 0px 0px 0px 100%;
  right: 0;
  top: 0;
  z-index: 10;
} */


.best-seller-photo {
  /* width: 300px; */
  overflow: hidden;
}


.card .product-info {
  width: 100%;
  font-family: 'roboto-light';
  font-weight: 400;
  font-size: 1rem;
  margin: 10px 0 0;
  padding: 8px;
  transition: all 0.1s linear;
  text-transform: uppercase;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card .product-info p {
  /* margin: 12px 0 0; */
  font-size: 1.1rem;
}
.card .product-info .product-name {
  margin-bottom: 20px;
}


.product-price {
  text-transform: none;
  font-weight: 400;
}

.prev-price {
  text-decoration: line-through;
  color: #888;
}



.card button {
  width: 100%;
  padding: 17px 20px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: 'roboto-light';
  font-weight: 600;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.1s linear;
}

.card button:hover{
  padding: 17px 20px 17px 5px;
}


@media screen and (max-width: 1025px) {
  .card {
    width: 250px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 200px;
  }
  .card button, .product-info p, .shop span {
    font-size: 0.7rem;
  }
  
  
}
